{% extends 'films/layoute.html' %}

{% block title %}
    Фильмы
{% endblock %}

{% block content %}
    <h1>Фильмы: пиши отзывы и наслаждайся!</h1>
    <p>Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы. Текст про фильмы.</p>
{% endblock %}
