{% extends 'main/layoute.html' %}

{% block title %}
    Это новости
{% endblock %}

{% block content %}
    <h1>Это новостная страница</h1>
    {% if news %}
        {% for new in news %}
            <h3 style="margin-top: 30px;">{{ new.title }}</h3>
                    <p>{{ new.short_description }}</p>
                    <p>{{ new.text }}</p>
                    <p>Автор: {{ new.autor }}, Дата публикации: {{ new.pub_date }}</p>
        {% endfor %}
    {% else %}
        <p>Новостей нет.</p>
    {% endif %}
{% endblock %}
